@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.font-serif {
  font-family: "DM Serif Display", serif;
}

.bordered-list li {
  display: inline-flex;
  position: relative;
  list-style-type: none;
}

.bordered-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #d1c5ac;
}

/* Desktop SubMenu */

.dropdownmenu:hover {
  color: brown;
}

.submenu {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px;
  z-index: 1;
  color: black;
  position: absolute;
  top: 32px;
}

.submenu::before {
  content: "";
  width: 0;
  height: 2;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  margin-left: 20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
  z-index: 1;
}

.submenu li {
  display: block;
  padding: 10px;
}

.submenu li:hover {
  background-color: #f0f0f0;
}

.dropdownmenu:hover .submenu {
  display: block;
}

/* Mobile Nav */
.menuBtn {
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 2;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
  color: black;
}

.mobile-nav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.mobile-nav ul li a:first-child {
  border-bottom: 1px solid black;
}

.mobile-nav a:hover {
  background-color: #ddd;
  color: black;
}

.mobile-submenu a {
  border: none !important;
}

/* Slider Main Banner  */

.slider-container {
  display: flex;
}

.other-images img {
  width: calc(100% - 50px);
}

.slick-slide img {
  width: calc(100% / 1);
}

.slick-prev,
.slick-next {
  font-size: 24px;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* Slider Most Popular */

.most-popular-slider {
  padding: 0;
}

.most-popular-slider li {
  text-align: center;
}

.most-popular-slider img {
  width: 100%;
  max-height: 100%;
}

.most-popular-slick-prev,
.most-popular-slick-next {
  font-size: 24px;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.most-popular-slick-prev {
  left: 2px;
}

@media only screen and (min-width: 1024px) {
  .most-popular-slick-next {
    right: 2px;
  }
}
.most-popular-slick-next {
  right: 22px;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 700px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.modal-content {
  padding: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.tab-content {
  display: none;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: large;
  font-weight: 700;
}

.tab-container button:hover {
  color: brown;
}
